@import url('https://fonts.googleapis.com/css?family=Noto+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@media all{
    body {
        font-family:sans-serif;
        font-size:16px;
        line-height:1.5;
        color:var(--fgColor-default, var(--color-fg-default));
    }
}
body {
    /* CSS Variables that may have been missed get put on body */
    --color-workflow-card-bg:  var(--bgColor-default, var(--color-scale-white));
    --color-notifications-row-read-bg:  var(--bgColor-muted, var(--color-canvas-subtle));
    --color-notifications-row-bg:  var(--bgColor-white, var(--color-scale-white));
    --color-user-mention-fg:  var(--fgColor-default, var(--color-fg-default));
    --color-project-sidebar-bg:  var(--bgColor-white, var(--color-scale-white));
    --color-project-gradient-in:  var(--bgColor-white, var(--color-scale-white));
    --color-text-white:  var(--fgColor-white, var(--color-scale-white));
    --core-grid-template-columns:  min-content min-content minmax(30%,1fr) minmax(0,max-content);
    --last-grid-template-column:  min-content;
    --avatar-size:  16px;
}

@media all{
    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
    }

    body {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
        font-size: var(--body-font-size, 14px);
        line-height: 1.5;
        color: var(--fgColor-default, var(--color-fg-default));
        background-color: var(--bgColor-default, var(--color-canvas-default));
    }

    html {
        font-size: 16px;
        font-family: sans-serif;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }

    :root {
        --base-size-4: 0.25rem;
        --base-size-8: 0.5rem;
        --base-size-16: 1rem;
        --base-size-24: 1.5rem;
        --base-size-32: 2rem;
    }

    :root {
        --base-text-weight-normal: 400;
        --base-text-weight-medium: 500;
        --base-text-weight-semibold: 600;
    }

    :root {
        --borderWidth-thin: max(1px, 0.0625rem);
        --borderRadius-medium: 0.375rem;
    }

    :root {
        --control-small-size: 1.75rem;
        --control-small-paddingInline-condensed: 0.5rem;
        --control-small-gap: 0.25rem;
        --control-medium-size: 2rem;
        --control-medium-paddingBlock: 0.375rem;
        --control-medium-paddingInline-normal: 0.75rem;
        --stack-gap-condensed: 0.5rem;
        --stack-gap-normal: 1rem;
        --overlay-offset: 0.25rem;
    }

    :root {
        --text-codeInline-size: 0.9285em;
        --text-codeBlock-lineHeight: 1.5385;
        --text-codeBlock-size: 0.8125rem;
        --text-caption-lineHeight: 1.3333;
        --text-caption-size: 0.75rem;
        --text-body-lineHeight-small: 1.6666;
        --text-body-lineHeight-medium: 1.4285;
        --text-body-lineHeight-large: 1.5;
        --text-body-size-small: 0.75rem;
        --text-body-size-medium: 0.875rem;
        --text-body-size-large: 1rem;
        --text-subtitle-lineHeight: 1.6;
        --text-subtitle-size: 1.25rem;
        --text-title-lineHeight-small: 1.5;
        --text-title-lineHeight-medium: 1.6;
        --text-title-lineHeight-large: 1.5;
        --text-title-size-small: 1rem;
        --text-title-size-medium: 1.25rem;
        --text-title-size-large: 2rem;
        --text-display-lineHeight: 1.4;
        --text-display-size: 2.5rem;
        --fontStack-monospace: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
        --fontStack-sansSerifDisplay: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        --fontStack-sansSerif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        --text-codeInline-weight: var(--base-text-weight-normal);
        --text-codeBlock-weight: var(--base-text-weight-normal);
        --text-caption-weight: var(--base-text-weight-normal);
        --text-body-weight: var(--base-text-weight-normal);
        --text-subtitle-weight: var(--base-text-weight-normal);
        --text-title-weight-small: var(--base-text-weight-semibold);
        --text-title-weight-medium: var(--base-text-weight-semibold);
        --text-title-weight-large: var(--base-text-weight-semibold);
        --text-display-weight: var(--base-text-weight-medium);
        --text-codeInline-shorthand: var(--text-codeInline-weight) var(--text-codeInline-size) var(--fontStack-monospace);
        --text-codeBlock-shorthand: var(--text-codeBlock-weight) var(--text-codeBlock-size) / var(--text-codeBlock-lineHeight) var(--fontStack-monospace);
        --text-caption-shorthand: var(--text-caption-weight) var(--text-caption-size) / var(--text-caption-lineHeight) var(--fontStack-sansSerif);
        --text-body-shorthand-small: var(--text-body-weight) var(--text-body-size-small) / var(--text-body-lineHeight-small) var(--fontStack-sansSerif);
        --text-body-shorthand-medium: var(--text-body-weight) var(--text-body-size-medium) / var(--text-body-lineHeight-medium) var(--fontStack-sansSerif);
        --text-body-shorthand-large: var(--text-body-weight) var(--text-body-size-large) / var(--text-body-lineHeight-large) var(--fontStack-sansSerif);
        --text-subtitle-shorthand: var(--text-subtitle-weight) var(--text-subtitle-size) / var(--text-subtitle-lineHeight) var(--fontStack-sansSerifDisplay);
        --text-title-shorthand-small: var(--text-title-weight-small) var(--text-title-size-small) / var(--text-title-lineHeight-small) var(--fontStack-sansSerif);
        --text-title-shorthand-medium: var(--text-title-weight-medium) var(--text-title-size-medium) / var(--text-title-lineHeight-medium) var(--fontStack-sansSerifDisplay);
        --text-title-shorthand-large: var(--text-title-weight-large) var(--text-title-size-large) / var(--text-title-lineHeight-large) var(--fontStack-sansSerifDisplay);
        --text-display-shorthand: var(--text-display-weight) var(--text-display-size) / var(--text-display-lineHeight) var(--fontStack-sansSerifDisplay);
    }

    :root {
        --h3-size: 1.25rem;
        --h4-size: 1rem;
        --h5-size: 0.875rem;
        --body-font-size: 0.875rem;
    }

    :root {
        --Layout-pane-width: 220px;
        --Layout-template-columns: 1fr var(--Layout-pane-width);
        --Layout-column-gap: var(--base-size-16);
        --Layout-row-gap: var(--base-size-16);
    }

    :root {
        --actionListContent-paddingBlock: var(--control-medium-paddingBlock);
    }

    :root {
        --duration-fast: 80ms;
        --easing-easeInOut: cubic-bezier(0.65,0,0.35,1);
    }

    :root,[data-color-mode="light"][data-light-theme*="light"] {
        color-scheme: light;
    }

    :root,[data-color-mode="light"][data-light-theme*="light"] {
        --color-workflow-card-bg: var(--bgColor-default, var(--color-scale-white));
        --color-notifications-row-read-bg: var(--bgColor-muted, var(--color-canvas-subtle));
        --color-notifications-row-bg: var(--bgColor-white, var(--color-scale-white));
        --color-user-mention-fg: var(--fgColor-default, var(--color-fg-default));
        --color-project-sidebar-bg: var(--bgColor-white, var(--color-scale-white));
        --color-project-gradient-in: var(--bgColor-white, var(--color-scale-white));
        --color-text-white: var(--fgColor-white, var(--color-scale-white));
    }
}

.brUueY {
    display: flex;
    flex-direction: column;
}

.gBpPgW {
    display: flex;
    position: relative;
    padding: 0px 0px 4px;
    margin-left: 16px;
}

.brUueY .Timeline-Item:first-child  {
    padding-top: 0px;
}

.gBpPgW:before {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    display: block;
    width: 2px;
    content: "";
    background-color: var(--borderColor-muted,var(--color-border-muted,hsla(210,18%,87%,1)));
}

.jdyMKe {
    display: flex;
    position: relative;
    padding: 4px 0px;
    margin-left: 16px;
}

.brUueY .Timeline-Item:last-child  {
    padding-bottom: 0px;
}

.jdyMKe:before {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    display: block;
    width: 2px;
    content: "";
    background-color: var(--borderColor-muted,var(--color-border-muted,hsla(210,18%,87%,1)));
}

.dkJItn {
    position: relative;
    z-index: 1;
}

@media all{
    .mt-0 {
        margin-top: 0 !important;
    }
}

.CXvOI {
    min-width: 0px;
    max-width: 100%;
    margin-top: 4px;
    color: var(--fgColor-muted,var(--color-fg-muted,#656d76));
    flex: 1 1 auto;
    font-size: 14px;
}

.czPmMC {
    margin-right: 8px;
    margin-left: -15px;
    color: var(--fgColor-muted,var(--color-fg-muted,#656d76));
    display: flex;
    overflow: hidden;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: var(--bgColor-default,var(--color-canvas-default,#ffffff));
    background-color: var(--bgColor-default,var(--color-canvas-default,#ffffff));
}

@media all{
    h3 {
        margin-top: 0;
        margin-bottom: 0;
    }

    h3 {
        font-size: var(--h3-size, 20px);
        font-weight: var(--base-text-weight-semibold, 600);
    }

    .py-1 {
        padding-top: var(--base-size-4, 4px) !important;
        padding-bottom: var(--base-size-4, 4px) !important;
    }

    .f5 {
        font-size: var(--h5-size, 14px) !important;
    }

    .text-normal {
        font-weight: var(--base-text-weight-normal, 400) !important;
    }
}

.fpGZrB {
    font-weight: 600;
    font-size: 32px;
    margin: 0px;
}

@media all{
    .border {
        border: var(--borderWidth-thin, 1px) solid var(--borderColor-default, var(--color-border-default)) !important;
    }

    .rounded-2 {
        border-radius: var(--borderRadius-medium, 6px) !important;
    }

    .color-bg-default {
        background-color: var(--bgColor-default, var(--color-canvas-default)) !important;
    }

    .color-border-default {
        border-color: var(--borderColor-default, var(--color-border-default)) !important;
    }

    .flex-column {
        flex-direction: column !important;
    }

    .position-relative {
        position: relative !important;
    }

    .mt-2 {
        margin-top: var(--base-size-8, 8px) !important;
    }

    .d-flex {
        display: flex !important;
    }

    svg:not(:root) {
        overflow: hidden;
    }

    .ListView-module__container--zF6wW {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

    ul {
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .ListView-module__ul--vMLEZ {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .ListItem-module__listItem--kHali {
        color: var(--fgColor-default);
        display: grid;
        font-size: var(--text-body-size-medium);
        gap: var(--base-size-4);
        grid-template-areas: "selection status primary actions" "selection status metadata actions" "selection status main-content actions";
        grid-template-rows: repeat(3,auto);
        min-height: 2rem;
        position: relative;
        --core-grid-template-columns: min-content min-content minmax(30%,1fr) minmax(0,max-content);
        --last-grid-template-column: min-content;
        grid-template-columns: var(--core-grid-template-columns) var(--last-grid-template-column);
    }
}

@media screen and (min-width: 544px){
    .ListItem-module__listItem--kHali {
        grid-template-areas: "selection status primary metadata actions" "selection status main-content metadata actions";
        grid-template-rows: repeat(2,auto);
    }
}

@media all{
    .ListItem-module__listItem--kHali:not(:last-child) {
        border-color: var(--borderColor-muted)!important;
        border-bottom: var(--borderWidth-thin) solid;
    }
}

.eHNzcu:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

@media all{
    .ListItem-module__listItem--kHali:hover {
        background-color: var(--bgColor-muted);
    }
}

.eHNzcu:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

@media all{
    .Title-module__container--l9xi7 {
        display: block;
        flex-grow: 2;
        grid-area: primary;
        padding-top: var(--base-size-8);
    }
}

.cgQapc {
    display: inline;
}

@media all{
    .px-1 {
        padding-right: var(--base-size-4, 4px) !important;
        padding-left: var(--base-size-4, 4px) !important;
    }

    .MainContent-module__container--ry4iL {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        gap: var(--stack-gap-normal);
        grid-area: main-content;
        overflow: hidden;
        padding-right: var(--base-size-8);
    }

    .MetadataContainer-module__container--lj6YE {
        display: flex;
        flex-direction: row;
        flex-grow: 2px;
        flex-wrap: wrap;
        gap: var(--stack-gap-condensed);
        grid-area: metadata;
        padding-right: var(--base-size-16);
    }

    .ActionBar-module__container--ZVTfi {
        align-items: center;
        display: flex;
        flex-grow: 2px;
        grid-area: actions;
        max-width: 200px;
        min-width: 56px;
        padding-right: var(--base-size-16);
    }
}

.bNDvfp {
    display: flex;
}

@media screen and (min-width: 544px){
    .bNDvfp {
        display: none;
    }
}

@media all{
    h4 {
        margin-top: 0;
        margin-bottom: 0;
    }

    h4 {
        font-size: var(--h4-size, 16px);
        font-weight: var(--base-text-weight-semibold, 600);
    }

    .Title-module__heading--upUxW {
        display: inline;
        flex-shrink: 1;
        font-size: var(--text-body-size-large);
        font-weight: 500;
        justify-content: space-between;
        max-width: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }
}

.edFpEE {
    display: inline;
}

@media all{
    .Title-module__trailingBadgesContainer--XGsbF {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .MainContent-module__inner--bU_tk {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        gap: 0;
        height: 100%;
        min-width: 40%;
        overflow: hidden;
        padding-bottom: 10px;
    }

    .Metadata-module__metadata--yvrod {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .Metadata-module__metadata--yvrod:where(.Metadata-module__secondary--zMgLx) {
        color: var(--fgColor-muted);
        flex-shrink: 0;
        font-size: var(--text-body-size-small);
        font-weight: 400;
        gap: var(--base-size-4);
    }

    .Metadata-module__metadata--yvrod:empty {
        display: none;
    }
}

@media screen and (min-width: 544px){
    .Metadata-module__metadata--yvrod:empty {
        display: flex;
    }
}

.bJVwFK {
    min-width: 62px;
}

@media all{
    .px-0 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .d-none {
        display: none !important;
    }
}

@media (min-width: 544px){
    .d-sm-flex {
        display: flex !important;
    }
}

@media all{
    .gap-2 {
        gap: var(--base-size-8) !important;
    }

    .Metadata-module__metadata--yvrod:where(.Metadata-module__primary--cJgJU) {
        gap: var(--stack-gap-normal);
        padding-right: var(--base-size-16);
    }
}

.hGgKkW {
    position: relative;
    min-width: 0px;
    display: flex;
    overflow: visible;
    flex-direction: row;
    margin-left: auto;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: content-box;
    flex-shrink: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: end;
    justify-content: flex-end;
    gap: 8px;
}

@media all{
    .Title-module__anchor--SyQM6 {
        color: var(--fgColor-default)!important;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .TitleHeader-module__inline--rL27T {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

    .Title-module__anchor--SyQM6:hover {
        cursor: pointer;
    }

    .Description-module__container--b3n6F {
        align-items: center;
        color: var(--fgColor-muted);
        display: flex;
        flex-wrap: nowrap;
        font-size: var(--text-body-size-small);
        font-weight: 400;
        gap: var(--base-size-4);
    }
}

.gNgnVl {
    position: relative;
    display: inline-block;
}

@media all{
    .tooltipped-s:after,.tooltipped-se:after,.tooltipped-sw:after {
        top: 100%;
        right: 50%;
        margin-top: 6px;
    }

    .tooltipped-sw:after {
        margin-right: calc(var(--base-size-16)*-1);
    }
}

.gNgnVl:after {
    position: absolute;
    z-index: 1000000;
    display: none;
    padding: 0.5em 0.75em;
    font: 11px / 1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    -webkit-font-smoothing: subpixel-antialiased;
    color: var(--tooltip-fgColor,var(--fgColor-onEmphasis,var(--color-fg-on-emphasis,#ffffff)));
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    overflow-wrap: break-word;
    white-space: pre;
    pointer-events: none;
    content: attr(aria-label);
    background: var(--tooltip-bgColor,var(--bgColor-emphasis,var(--color-neutral-emphasis-plus,#24292f)));
    border-radius: 6px;
    opacity: 0;
}

.gNgnVl.tooltipped-s:after,.gNgnVl.tooltipped-se:after,.gNgnVl.tooltipped-sw:after {
    top: 100%;
    right: 50%;
    margin-top: 6px;
}

.gNgnVl.tooltipped-sw:after {
    margin-right: -16px;
}

.gNgnVl:hover:after,.gNgnVl:active:after,.gNgnVl:focus:after,.gNgnVl:focus-within:after {
    display: inline-block;
    text-decoration: none;
    animation-name: tooltip-appear;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-delay: 0s;
}

.jEOzuK {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    overflow: visible;
    flex-direction: row;
    margin-left: auto;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: content-box;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    flex-grow: 0;
    gap: 8px;
}

@media all{
    button {
        font: inherit;
        margin: 0;
    }

    button {
        overflow: visible;
    }

    button {
        text-transform: none;
    }

    button {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    button {
        cursor: pointer;
        border-radius: 0;
    }

    button,[type="button"]  {
        -webkit-appearance: button;
    }
}

.bXjbbF[data-component="IconButton"] {
    display: inline-grid;
    padding: unset;
    place-content: center;
    width: 32px;
    min-width: unset;
}

.bXjbbF[data-no-visuals] {
    color: var(--button-invisible-fgColor-rest,var(--button-default-fgColor-rest,var(--color-btn-text,#24292f)));
    flex-shrink: 0;
}

.bXjbbF[data-component="IconButton"][data-no-visuals] {
    color: var(--fgColor-muted,var(--color-fg-muted,#656d76));
}

.bXjbbF:hover {
    transition-duration: 80ms;
}

.bXjbbF:hover:not([disabled]) {
    background-color: var(--control-transparent-bgColor-hover,var(--color-action-list-item-default-hover-bg,rgba(208,215,222,0.32)));
}

.jmgTxV {
    display: none;
}

.jmgTxV[popover] {
    position: absolute;
    padding: 0.5em 0.75em;
    width: max-content;
    margin: auto;
    clip: auto;
    white-space: normal;
    font: 11px / 1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    -webkit-font-smoothing: subpixel-antialiased;
    color: var(--tooltip-fgColor,var(--fgColor-onEmphasis,var(--color-fg-on-emphasis,#ffffff)));
    text-align: center;
    overflow-wrap: break-word;
    background: var(--tooltip-bgColor,var(--bgColor-emphasis,var(--color-neutral-emphasis-plus,#24292f)));
    border-radius: 6px;
    border: 0px;
    opacity: 0;
    max-width: 250px;
    inset: auto;
    overflow: visible;
}

.jmgTxV:after {
    position: absolute;
    display: block;
    right: 0px;
    left: 0px;
    height: var(--overlay-offset,0.25rem);
    content: "";
}

.jmgTxV[data-direction="s"]:after,.jmgTxV[data-direction="se"]:after,.jmgTxV[data-direction="sw"]:after {
    bottom: 100%;
}

@media all{
    a {
        background-color: transparent;
    }

    a {
        color: var(--fgColor-accent, var(--color-accent-fg));
        text-decoration: none;
    }

    .color-fg-default {
        color: var(--fgColor-default, var(--color-fg-default)) !important;
    }

    a:hover {
        text-decoration: underline;
    }

    .Title-module__anchor--SyQM6:where(.Title-module__markdown--KiFgL) > a:hover {
        color: var(--fgColor-accent)!important;
        text-decoration: underline;
    }
}

.eScEiW {
    display: flex;
    flex-flow: wrap;
    -webkit-box-align: center;
    align-items: center;
}

@media screen and (min-width: 544px){
    .eScEiW {
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 768px){
    .eScEiW {
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1012px){
    .eScEiW {
        flex-wrap: nowrap;
    }
}

@media all{
    .tooltipped-s:after,.tooltipped-n:after {
        transform: translateX(50%);
    }
}

.gNgnVl.tooltipped-s:after,.gNgnVl.tooltipped-n:after {
    transform: translateX(50%);
}

@media all{
    .Button {
        align-items: center;
        background-color: initial;
        border: var(--borderWidth-thin) solid;
        border-color: #0000;
        border-radius: var(--borderRadius-medium);
        color: var(--button-default-fgColor-rest);
        cursor: pointer;
        display: inline-flex;
        flex-direction: row;
        font-size: var(--text-body-size-medium);
        font-weight: var(--base-text-weight-medium);
        gap: var(--base-size-4);
        height: var(--control-medium-size);
        justify-content: space-between;
        min-width: max-content;
        padding: 0 var(--control-medium-paddingInline-normal);
        position: relative;
        text-align: center;
        transition: var(--duration-fast) var(--easing-easeInOut);
        transition-property: color,fill,background-color,border-color;
        -webkit-user-select: none;
        user-select: none;
    }

    .Button--small {
        font-size: var(--text-body-size-small);
        gap: var(--control-small-gap);
        height: var(--control-small-size);
        min-width: var(--control-small-size);
        padding: 0 var(--control-small-paddingInline-condensed);
    }

    .Button--invisible {
        color: var(--button-invisible-fgColor-rest);
    }

    .Button--iconOnly {
        display: inline-grid;
        padding: unset;
        place-content: center;
        width: var(--control-medium-size);
    }

    .Button.Button--iconOnly {
        color: var(--fgColor-muted);
    }

    .Button--invisible.Button--iconOnly {
        color: var(--button-invisible-iconColor-rest, var(--color-fg-muted));
    }

    .Button--iconOnly.Button--small {
        width: var(--control-small-size);
    }

    .Button:hover {
        transition-duration: var(--duration-fast);
    }

    :is(a.Button, summary.Button):hover {
        -webkit-text-decoration: none;
        text-decoration: none;
    }

    .Button--invisible:hover:not(:disabled, .Button--inactive) {
        background-color: var(--control-transparent-bgColor-hover, var(--color-action-list-item-default-hover-bg));
    }

    .octicon {
        vertical-align: text-bottom;
    }

    .octicon {
        display: inline-block;
        overflow: visible !important;
        vertical-align: text-bottom;
        fill: currentColor;
    }
}

.hLLhje {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

@media all{
    .pl-1 {
        padding-left: var(--base-size-4, 4px) !important;
    }

    relative-time {
        white-space: nowrap;
    }

    .text-mono {
        font-family: var(--fontStack-monospace, ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace) !important;
    }
}

.dheQRw {
    color: var(--fgColor-accent,var(--color-accent-fg,#0969da));
    text-decoration: none;
}

.dheQRw:hover {
    text-decoration: underline;
}

.iTDQyF {
    text-decoration: none;
    font-weight: 400;
    white-space: nowrap;
    color: var(--fgColor-muted,var(--color-fg-muted,#656d76));
}

.iTDQyF:hover {
    text-decoration: none;
    color: var(--fgColor-accent,var(--color-accent-fg,#0969da));
}

.iTDQyF:hover {
    color: var(--fgColor-muted,var(--color-fg-muted,#656d76));
    text-decoration: underline;
}

@media all{
    .Button-content {
        align-items: center;
        display: grid;
        flex: 1 0 auto;
        grid-template-areas: "leadingVisual text trailingVisual";
        grid-template-columns: min-content minmax(0, auto) min-content;
        place-content: center;
    }

    button {
        -webkit-appearance: button;
    }

    img {
        border-style: none;
    }
}

.ksUHAu {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--avatar-borderColor,var(--color-avatar-border,rgba(31,35,40,0.15)));
    height: var(--avatar-size);
    width: var(--avatar-size);
    --avatar-size: 16px;
    margin-right: 8px;
    margin-top: -1px;
    margin-left: 1px;
}

@media all{
    .color-fg-muted {
        color: var(--fgColor-muted, var(--color-fg-muted)) !important;
    }

    .Button-label {
        grid-area: text;
        line-height: var(--text-body-lineHeight-medium);
        white-space: nowrap;
    }

    .Button--small .Button-label  {
        line-height: var(--text-body-lineHeight-small);
    }
}


